/*/*/*/*
.div1 {
    height: 300px;
    width: 300px;
    background: blue;
}*/


/*.b1{
	width : 95%;
	height : 100px;
	margin :8px auto 0 auto;

	background: blue;

}

ul li{
	display : inline;
	color : red;
}

li{
	margin-left: 10px;
}

ul li a {
    line-height: 100px;
    color: black;
    font-size: 15px;
}

.cb1{
	width : 95%;
	height : 100px;
	margin :8px auto 0 auto;

	background: red;
}

.bc1{
	width : 45%;
	height : 50px;
	float : left;
	background: green;
	margin :10px 20px 10px 30px;
}

.bc2{
	width : 45%;
	height : 50px;
	float : left;
	background: green;
	margin :10px 10px 10px 10px;
}

.clearfloat{
	clear : both;
}

.b2{
	width : 95%;
	width : 95%;
	height : 100px;
	margin :8px auto 0 auto;

}

.img{
	height : 100%;
	width : 100%
	
}*/*/*/*/