.big_image{
	background-image : url("https://c.s-microsoft.com/en-us/CMSImages/Win_AppsStoreBG_1920x580_EN_US.jpg?version=37be4927-f656-5b22-0097-fc565095b02c");
     width: 100% !important;
     height : 380px;
     background-position: center center;

     
}

/*.big_text{
	margin: 10px;
	text-align: center;
}*/

.thmb{
	margin-top: 5px;
	text-align: center;
}

.some_text{
	margin-left: 100px;
	padding-top: 50px;
}

.foot{
	margin-top: 10px;
}

.small_img img{

	height:20px;
	width : 20px;

}
.like{
	margin-top:auto;
}
.fblike{
	margin-top:10px;
	height : 70px;
}



li{
	list-style-type: none;
	margin-top: 10px;
}



















/*/*/*/*
.div1 {
    height: 300px;
    width: 300px;
    background: blue;
}*/


/*.b1{
	width : 95%;
	height : 100px;
	margin :8px auto 0 auto;

	background: blue;

}

ul li{
	display : inline;
	color : red;
}

li{
	margin-left: 10px;
}

ul li a {
    line-height: 100px;
    color: black;
    font-size: 15px;
}

.cb1{
	width : 95%;
	height : 100px;
	margin :8px auto 0 auto;

	background: red;
}

.bc1{
	width : 45%;
	height : 50px;
	float : left;
	background: green;
	margin :10px 20px 10px 30px;
}

.bc2{
	width : 45%;
	height : 50px;
	float : left;
	background: green;
	margin :10px 10px 10px 10px;
}

.clearfloat{
	clear : both;
}

.b2{
	width : 95%;
	width : 95%;
	height : 100px;
	margin :8px auto 0 auto;

}

.img{
	height : 100%;
	width : 100%
	
}*/*/*/*/